04. CLICON/cli_ConUni_Java_GR6/src/wsdl/localhost_8080/ws_ConUni_Java_GR6/ConversorWS.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
             xmlns:wsp="http://www.w3.org/ns/ws-policy"
             xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
             xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://ws.ec.edu.monster/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="http://ws.ec.edu.monster/"
             name="ConversorWS">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://ws.ec.edu.monster/" schemaLocation="ConversorWS.xsd_1.xsd"/>
    </xsd:schema>
  </types>

  <!-- ===== MENSAJES TEMPERATURA ===== -->
  <message name="convertirFtoC"><part name="parameters" element="tns:convertirFtoC"/></message>
  <message name="convertirFtoCResponse"><part name="parameters" element="tns:convertirFtoCResponse"/></message>
  <message name="convertirCtoF"><part name="parameters" element="tns:convertirCtoF"/></message>
  <message name="convertirCtoFResponse"><part name="parameters" element="tns:convertirCtoFResponse"/></message>
  <message name="convertirCtoK"><part name="parameters" element="tns:convertirCtoK"/></message>
  <message name="convertirCtoKResponse"><part name="parameters" element="tns:convertirCtoKResponse"/></message>
  <message name="convertirKtoC"><part name="parameters" element="tns:convertirKtoC"/></message>
  <message name="convertirKtoCResponse"><part name="parameters" element="tns:convertirKtoCResponse"/></message>
  <message name="convertirFtoK"><part name="parameters" element="tns:convertirFtoK"/></message>
  <message name="convertirFtoKResponse"><part name="parameters" element="tns:convertirFtoKResponse"/></message>
  <message name="convertirKtoF"><part name="parameters" element="tns:convertirKtoF"/></message>
  <message name="convertirKtoFResponse"><part name="parameters" element="tns:convertirKtoFResponse"/></message>

  <!-- ===== MENSAJES LONGITUD ===== -->
  <message name="convertirKmAMetros"><part name="parameters" element="tns:convertirKmAMetros"/></message>
  <message name="convertirKmAMetrosResponse"><part name="parameters" element="tns:convertirKmAMetrosResponse"/></message>
  <message name="convertirMetrosACm"><part name="parameters" element="tns:convertirMetrosACm"/></message>
  <message name="convertirMetrosACmResponse"><part name="parameters" element="tns:convertirMetrosACmResponse"/></message>
  <message name="convertirPulgadasACm"><part name="parameters" element="tns:convertirPulgadasACm"/></message>
  <message name="convertirPulgadasACmResponse"><part name="parameters" element="tns:convertirPulgadasACmResponse"/></message>
  <message name="convertirPiesAMetros"><part name="parameters" element="tns:convertirPiesAMetros"/></message>
  <message name="convertirPiesAMetrosResponse"><part name="parameters" element="tns:convertirPiesAMetrosResponse"/></message>
  <message name="convertirMillasAKm"><part name="parameters" element="tns:convertirMillasAKm"/></message>
  <message name="convertirMillasAKmResponse"><part name="parameters" element="tns:convertirMillasAKmResponse"/></message>

  <!-- ===== MENSAJES MASA ===== -->
  <message name="convertirKgAGramos"><part name="parameters" element="tns:convertirKgAGramos"/></message>
  <message name="convertirKgAGramosResponse"><part name="parameters" element="tns:convertirKgAGramosResponse"/></message>
  <message name="convertirGramosAMg"><part name="parameters" element="tns:convertirGramosAMg"/></message>
  <message name="convertirGramosAMgResponse"><part name="parameters" element="tns:convertirGramosAMgResponse"/></message>
  <message name="convertirLibrasAKg"><part name="parameters" element="tns:convertirLibrasAKg"/></message>
  <message name="convertirLibrasAKgResponse"><part name="parameters" element="tns:convertirLibrasAKgResponse"/></message>
  <message name="convertirOnzasAGramos"><part name="parameters" element="tns:convertirOnzasAGramos"/></message>
  <message name="convertirOnzasAGramosResponse"><part name="parameters" element="tns:convertirOnzasAGramosResponse"/></message>
  <message name="convertirToneladasAKg"><part name="parameters" element="tns:convertirToneladasAKg"/></message>
  <message name="convertirToneladasAKgResponse"><part name="parameters" element="tns:convertirToneladasAKgResponse"/></message>

  <!-- ===== PORT TYPE ===== -->
  <portType name="ConversorWS">
    <operation name="convertirFtoC">
      <input wsam:Action="http://ws.ec.edu.monster/ConversorWS/convertirFtoCRequest" message="tns:convertirFtoC"/>
      <output wsam:Action="http://ws.ec.edu.monster/ConversorWS/convertirFtoCResponse" message="tns:convertirFtoCResponse"/>
    </operation>
    <operation name="convertirCtoF">
      <input wsam:Action="http://ws.ec.edu.monster/ConversorWS/convertirCtoFRequest" message="tns:convertirCtoF"/>
      <output wsam:Action="http://ws.ec.edu.monster/ConversorWS/convertirCtoFResponse" message="tns:convertirCtoFResponse"/>
    </operation>
    <operation name="convertirCtoK">
      <input wsam:Action="http://ws.ec.edu.monster/ConversorWS/convertirCtoKRequest" message="tns:convertirCtoK"/>
      <output wsam:Action="http://ws.ec.edu.monster/ConversorWS/convertirCtoKResponse" message="tns:convertirCtoKResponse"/>
    </operation>
    <operation name="convertirKtoC">
      <input wsam:Action="http://ws.ec.edu.monster/ConversorWS/convertirKtoCRequest" message="tns:convertirKtoC"/>
      <output wsam:Action="http://ws.ec.edu.monster/ConversorWS/convertirKtoCResponse" message="tns:convertirKtoCResponse"/>
    </operation>
    <operation name="convertirFtoK">
      <input wsam:Action="http://ws.ec.edu.monster/ConversorWS/convertirFtoKRequest" message="tns:convertirFtoK"/>
      <output wsam:Action="http://ws.ec.edu.monster/ConversorWS/convertirFtoKResponse" message="tns:convertirFtoKResponse"/>
    </operation>
    <operation name="convertirKtoF">
      <input wsam:Action="http://ws.ec.edu.monster/ConversorWS/convertirKtoFRequest" message="tns:convertirKtoF"/>
      <output wsam:Action="http://ws.ec.edu.monster/ConversorWS/convertirKtoFResponse" message="tns:convertirKtoFResponse"/>
    </operation>
    <operation name="convertirKmAMetros">
      <input wsam:Action="http://ws.ec.edu.monster/ConversorWS/convertirKmAMetrosRequest" message="tns:convertirKmAMetros"/>
      <output wsam:Action="http://ws.ec.edu.monster/ConversorWS/convertirKmAMetrosResponse" message="tns:convertirKmAMetrosResponse"/>
    </operation>
    <operation name="convertirMetrosACm">
      <input wsam:Action="http://ws.ec.edu.monster/ConversorWS/convertirMetrosACmRequest" message="tns:convertirMetrosACm"/>
      <output wsam:Action="http://ws.ec.edu.monster/ConversorWS/convertirMetrosACmResponse" message="tns:convertirMetrosACmResponse"/>
    </operation>
    <operation name="convertirPulgadasACm">
      <input wsam:Action="http://ws.ec.edu.monster/ConversorWS/convertirPulgadasACmRequest" message="tns:convertirPulgadasACm"/>
      <output wsam:Action="http://ws.ec.edu.monster/ConversorWS/convertirPulgadasACmResponse" message="tns:convertirPulgadasACmResponse"/>
    </operation>
    <operation name="convertirPiesAMetros">
      <input wsam:Action="http://ws.ec.edu.monster/ConversorWS/convertirPiesAMetrosRequest" message="tns:convertirPiesAMetros"/>
      <output wsam:Action="http://ws.ec.edu.monster/ConversorWS/convertirPiesAMetrosResponse" message="tns:convertirPiesAMetrosResponse"/>
    </operation>
    <operation name="convertirMillasAKm">
      <input wsam:Action="http://ws.ec.edu.monster/ConversorWS/convertirMillasAKmRequest" message="tns:convertirMillasAKm"/>
      <output wsam:Action="http://ws.ec.edu.monster/ConversorWS/convertirMillasAKmResponse" message="tns:convertirMillasAKmResponse"/>
    </operation>
    <operation name="convertirKgAGramos">
      <input wsam:Action="http://ws.ec.edu.monster/ConversorWS/convertirKgAGramosRequest" message="tns:convertirKgAGramos"/>
      <output wsam:Action="http://ws.ec.edu.monster/ConversorWS/convertirKgAGramosResponse" message="tns:convertirKgAGramosResponse"/>
    </operation>
    <operation name="convertirGramosAMg">
      <input wsam:Action="http://ws.ec.edu.monster/ConversorWS/convertirGramosAMgRequest" message="tns:convertirGramosAMg"/>
      <output wsam:Action="http://ws.ec.edu.monster/ConversorWS/convertirGramosAMgResponse" message="tns:convertirGramosAMgResponse"/>
    </operation>
    <operation name="convertirLibrasAKg">
      <input wsam:Action="http://ws.ec.edu.monster/ConversorWS/convertirLibrasAKgRequest" message="tns:convertirLibrasAKg"/>
      <output wsam:Action="http://ws.ec.edu.monster/ConversorWS/convertirLibrasAKgResponse" message="tns:convertirLibrasAKgResponse"/>
    </operation>
    <operation name="convertirOnzasAGramos">
      <input wsam:Action="http://ws.ec.edu.monster/ConversorWS/convertirOnzasAGramosRequest" message="tns:convertirOnzasAGramos"/>
      <output wsam:Action="http://ws.ec.edu.monster/ConversorWS/convertirOnzasAGramosResponse" message="tns:convertirOnzasAGramosResponse"/>
    </operation>
    <operation name="convertirToneladasAKg">
      <input wsam:Action="http://ws.ec.edu.monster/ConversorWS/convertirToneladasAKgRequest" message="tns:convertirToneladasAKg"/>
      <output wsam:Action="http://ws.ec.edu.monster/ConversorWS/convertirToneladasAKgResponse" message="tns:convertirToneladasAKgResponse"/>
    </operation>
  </portType>

  <!-- ===== BINDING ===== -->
  <binding name="ConversorWSPortBinding" type="tns:ConversorWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="convertirFtoC">
      <soap:operation soapAction=""/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
    <operation name="convertirCtoF">
      <soap:operation soapAction=""/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
    <operation name="convertirCtoK">
      <soap:operation soapAction=""/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
    <operation name="convertirKtoC">
      <soap:operation soapAction=""/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
    <operation name="convertirFtoK">
      <soap:operation soapAction=""/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
    <operation name="convertirKtoF">
      <soap:operation soapAction=""/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
    <operation name="convertirKmAMetros">
      <soap:operation soapAction=""/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
    <operation name="convertirMetrosACm">
      <soap:operation soapAction=""/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
    <operation name="convertirPulgadasACm">
      <soap:operation soapAction=""/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
    <operation name="convertirPiesAMetros">
      <soap:operation soapAction=""/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
    <operation name="convertirMillasAKm">
      <soap:operation soapAction=""/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
    <operation name="convertirKgAGramos">
      <soap:operation soapAction=""/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
    <operation name="convertirGramosAMg">
      <soap:operation soapAction=""/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
    <operation name="convertirLibrasAKg">
      <soap:operation soapAction=""/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
    <operation name="convertirOnzasAGramos">
      <soap:operation soapAction=""/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
    <operation name="convertirToneladasAKg">
      <soap:operation soapAction=""/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
  </binding>

  <!-- ===== SERVICE ===== -->
  <service name="ConversorWS">
    <port name="ConversorWSPort" binding="tns:ConversorWSPortBinding">
      <soap:address location="http://localhost:8080/ws_ConUni_Java_GR6/ConversorWS"/>
    </port>
  </service>
</definitions>
