04. CLICON/cli_ConUni_Java_GR6/src/wsdl/localhost_8080/ws_ConUni_Java_GR6/ConversorWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.4.payara-p1 (FISH-10142-Metro-4.0.4-fa01c0b; 2025-07-11T17:44:37+0100) XMLWS-Impl/4.0.3 XMLWS-API/4.0.2 XMLB-Impl/4.0.5 XMLB-API/4.0.2 git-revision#fa01c0b. --><xs:schema xmlns:tns="http://ws.ec.edu.monster/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.ec.edu.monster/">

<xs:element name="convertirCtoF" type="tns:convertirCtoF"/>

<xs:element name="convertirCtoFResponse" type="tns:convertirCtoFResponse"/>

<xs:element name="convertirFtoC" type="tns:convertirFtoC"/>

<xs:element name="convertirFtoCResponse" type="tns:convertirFtoCResponse"/>

<xs:complexType name="convertirFtoC">
<xs:sequence>
<xs:element name="gradosF" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="convertirFtoCResponse">
<xs:sequence>
<xs:element name="return" type="tns:Conversor" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Conversor">
<xs:sequence>
<xs:element name="unidadDestino" type="xs:string" minOccurs="0"/>
<xs:element name="unidadOrigen" type="xs:string" minOccurs="0"/>
<xs:element name="valorDestino" type="xs:double"/>
<xs:element name="valorOrigen" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="convertirCtoF">
<xs:sequence>
<xs:element name="gradosC" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="convertirCtoFResponse">
<xs:sequence>
<xs:element name="return" type="tns:Conversor" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>